*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}

html,body{

}
.background {
    position:absolute;
    display:block;
    top:0; 
    left:0;
    z-index: 0;
    background-color:#2EC4B6
}

.container{
    position:absolute; 
    width: 600px; 
    margin: 10vh auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #4C6085;
    height: auto;
    z-index: 1;

    left:0;
    right:0;
     /*I created the bos shadow with   */
    -webkit-box-shadow: 0px 11px 32px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 32px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 32px -4px rgba(0,0,0,0.75);
}

.screen{
    height: 50px; 
    background-color: grey; 

}

.morePadding{
    padding-left:15px;
    padding-right:15px; 
}

.infoScreen{
}

.btn-secondary{
    color: #fff;
    background-color: #2EC4B6;
    border-color: #2EC4B6;
}

.btn-light{
    background-color: #e2e3e5;
    border-color: #e2e3e5; 
}

@media only screen and (max-width: 576px) {
    .container {
        width:100vw;
        /* -webkit-transform:  translateY(-100%) rotate(90deg) ;
        transform:  translateY(-100%) rotate(90deg);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom; 
        margin-top:0; 
        margin-bottom: 100% !important;  */
        margin-top:0;  
    }
    .button{
        height: 10vh;
    }
    .btn{
        height:100%;
        font-size:2em; 
    }
  }

  @media only screen and (max-width: 320px) {
  
    .btn{
        font-size:1em; 
    }
  }

  @media only screen and (max-width: 240px) {
    .btn{
        font-size:0.5em; 
    }
  }