*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head
{
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
}
.flexbox-container
{
  display: flex;
}
.random-graphic{
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.random-graphic2{
    position: absolute;
    top: 300px;
    left: 0;
    pointer-events: none;
}
#message
{
  font-family: Avenir-Medium;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.9px;
  line-height: 30px;
  padding: 5% 0% 0% 5%;
}
#links
{
  justify-content: space-between;
  align-self: flex-end;
  flex-direction: row;

  margin-right: 10%;
}
#links p
{

  margin-right: 10%;
  font-family: Avenir-Light;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.welcomeMessage
{
  flex-direction: column;
  padding: 10% 0% 0% 10%;
}

.sectionTitle
{
  font-family: Avenir-Medium;
  font-size: 70px;
  color: #000000;
  letter-spacing: 0;
}

#text1
{
  margin-top: 2%;
  max-width: 1132px;
}
#text2
{
  margin-top: 2%;
  max-width: 1246px;
}
.bigMessageStyle
{
  font-family: Avenir-Light;
  font-size: 40px;
  color: #000000;
  letter-spacing: 0;
}

.whatICanDo
{
  flex-direction: column;
  margin-top: 15%;
  height: 900px;
}
#whatIDoTitle
{
    text-align: center;
  /*float: left;*/
  font-size: 60px;
  /*padding-left: 10%;*/
  margin-top: 3%;
  color: white;
  /* TEST THIS: */
  text-shadow: -10px 10px 10px rgba(0,0,0,0.50);
}

#content
{
  width: 100%;
  margin: 0 auto;
  height: 335px;
  padding-top: 3%;
  justify-content:space-around;

}

#greatAt{
    margin-left: 10%;
}
#interested{
    margin-right: 10%;
}

.moreAbout{
    flex-direction: column;
}

.social{
    flex-direction: row;
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 3%;
    justify-content: space-between;
}
.skillsText
{
  flex-direction: column;
  background: rgba(123,178,217,0.75);
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 27%;
  height: 170%;
  overflow: hidden;
  transition: width 2s, height 4s;
  -webkit-transition: width 2s, height 4s;
}
.skillsText-shrink /*basically the exact same as above, I should try and figure out some sort of way to clean this */
{
  flex-direction: column;
  /* Rectangle 6: */
  background: rgba(123,178,217,0.75);
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 27%;
  height: 20%;
  margin-right: 4%;
  overflow: hidden;
  transition: width 2s, height 4s;
  -webkit-transition: width 2s, height 4s;
}
.skillsText p
{
  margin: 1% 0% 0% 3%;
  //display: none;
  font-family: Avenir-Medium;
  /* I’ve Worked With…: */
  font-size: 40px;
  color: #000000;
  text-shadow: 0 1px 1px rgba(0,0,0,0.50);
  letter-spacing: 0;
}

#interested
{

}
.minus
{
  padding-top: 3%;
  margin-left: 5%;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  transition: margin 1s ease-in-out;
}

.workedWith-message{
  opacity: 1;
  transition: opacity 1s linear;

}
.workedWith-message-dissapear{
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
#secondRow1
{
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
}
#secondRow2{
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
}
.skillImages
{
  margin: 5px 20px 5px 20px;
  width: 25%;
  height: 25%;
  opacity: 1;
  transition: opacity 1s linear;
}


.socialImages
{
  /*width: 20%;*/
  height: 10%;
  opacity: 1;
  transition: opacity 1s linear;
}

#socialRow1{
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.skillImages2{
  margin: 5px 20px 15px 20px;
  width: 25%;
  height: 25%;
  opacity: 1;
  transition: opacity 1s linear;
}
.skillImages-dissapear
{
  opacity: 0 !important;
}
#section-2-background{
  /* Rectangle 7: */
  opacity: 0.73;
  background: #E3B9BC;
}

.section-two-image-background{
    position: absolute;
    top: 569px;
    left: 20px;
}
#workTitle{
    text-align: center;
    /*text-shadow: -10px 10px 10px rgba(0,0,0,0.50);*/
    /* What Have I Done?: */
    text-shadow: 0 0 4px rgba(0,0,0,0.25);

}
#section-3{
  margin-top: 3%;
  height: 500px;
  /*padding-left: 10%;*/
  flex-direction: column;
}
#projects-container{
  justify-content: space-around;
  margin-top: 75px;
}
.project{
  width: 400px;
  height: 400px;
}
.project-background{
  width: auto;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}
/*.project-background:hover{
  -webkit-filter: blur(7px);
  filter: blur(7px);
}*/
/*.project-background:hover .text-description{
    visibility: visible;
}*/
.text-description{
    position:relative;
    bottom: 400px;
    left: 0;
    right: 0;
    background: rgba(56, 145, 245, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    height: 400px;
    display: flex;
}
.project:hover .text-description{
    visibility: visible;
    opacity: 1;
}

.text-transition{
    transition: 0.2s;
    transform: translateY(1em);
    text-align: center;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.9px;
    line-height: 30px;
    margin-top: 25%;
    width: 100%;

}

.project:hover .text-transition {
  transform: translateY(0);
}

#larger-text{
    font-size: 24px;
    font-family: avenir-heavy
}

#WW-image{

}
#courses-image{
  width:
}
#contact-title{
    margin-top: 3%;
}

#section-4{
    margin-top: 6%;
    /*padding-left: 10%;*/
    flex-direction: column;
    opacity: 0.74;
    background: #DBEAFF;
    height: 800px;

}

#contact-container {
    flex-direction: column;
    width: 50%;
    /* Rectangle 10: */
    background: #ACDBFF;

    border-radius: 8px;

    padding: 5px 0 5px 0;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.50);

}
#contact-title{
    text-align: center;
    /*text-shadow: -10px 10px 10px rgba(0,0,0,0.50);*/
    /* What Have I Done?: */
    text-shadow: 0 0 4px rgba(0,0,0,0.25);
}

#email-form{
    display: flex;
    flex-direction: column;
}

.general-input {
    font-family: Avenir-Medium;
    margin-top: 15px;
    height: 45px;
    margin-left: 5%;
    font-size: 15px;
    background: #FFFFFF;
    border: 1px solid #979797;

}

#name-input {
    width: 30%;
    margin-top: 55px;
}

#email-input {
    width: 40%;
    margin-top: 30px

}

#message-input {
    height: 200px;
    width: 90%;
    margin-top: 30px;
}

#send-input {
    width: 15%;
    height: 5%;
    margin-bottom: 25px;
    margin-top: 30px;
    /* Rectangle 12: */
    background: #47AEFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 8px;
    margin-left: 80%

}

@media(max-width: 1532px){
    .skillsText p
    {
      font-size: 30px;
    }
}

@media(max-width: 1188px){
    .skillsText p
    {
      font-size: 25px;
    }
    .project{
      width: 300px;
      height: 300px;
    }
    #section-3{
      margin-top: 3%;
      height: 400px;

    }
    #content
    {
      height: 300px;
    }

    .whatICanDo
    {
      height: 800px;
    }
}

@media (max-width: 1006px){
    .skillsText p
    {
      font-size: 20px;
    }
}

@media (max-width: 900px){

    #message{
        font-size: 12px;
        line-height: normal;
        padding: 5% 0 0 0;
        text-align: center;
        line-height: 20px;
    }
    #links{
        align-self: flex-start;
        width: 100%;
        justify-content: space-around;
        padding: 3% 4% 0% 4%;
    }
    #links p{
        margin-right: 0;
    }
    .head{
        flex-direction: column;
    }
    .random-graphic{
        width: 100%;
        top: 0;
    }
    .random-graphic2{
        width: 75%;
        top: 200px;
    }
    .sectionTitle{
        font-size: 50px;
    }
    .welcomeMessage{
        margin-left: 8%;
        padding: 8% 0 0 0;
    }
    #text1{
        font-size: 25px;
    }
    #text2{
        font-size: 25px;
    }






    .skillsText p
    {
      font-size: 20px;
      margin-left: 0 auto;
    }
    #content{
        flex-direction: column;
        height: 110%;
        margin-top: 5%;
    }
    #greatAt {
        margin-left: 0;
        width: 100%;
        height: 1500px;
    }
    #interested {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        height: 1500px;
    }
    .skillImages{
        /*height: 30%;*/
        width: 20%;
    }

    .skillImages2{
        height: 30%;
        width: 20%;
    }
    #secondRow1{
        margin-top: 30px;
    }
    #secondRow2{
        margin-top: 30px;
    }
    .anchorTag {
        width: 20%;
        height: 5%;
    }
    .socialImages {
        height: 100%;
        width: 100%;
    }
    .social{
        width: 50%;
    }
    .minus{
        display: none;
    }
    #minusPic2{
        display: none;
    }
    #section-2-background{
        height: 850px;
    }
    #secondRow1{
    }




    .project{
      width: 250px;
      height: 250px;
      margin: 0 auto;
      margin-top: 20px;
    }
    #projects-container{
        flex-direction: column;
        margin-top: 400px;
    }
    #section-3{
      margin-top: 3%;
      height: 400px;
      margin-bottom: 475px;
    }
    .text-description{
        height: 250px;
        bottom: 250px;
    }
    .text-transition{
        font-size: 14px;
        margin-top: 10%;
    }
    #larger-text{
        font-size: 14px;
    }




    #contact-container{
        width: 90%;
    }

    #email-input{
        width: 50%;
    }

    #message-input{
        height: 150px;
    }

    .general-input{
        height: 35px;
    }
    #send-input{
        width: 20%;
        margin-left: 75%;
    }

    #section-4{
        height: 620px;
    }
}
